<div class="home--container">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand nav--item" style="color: aliceblue;margin-left: 10px" [routerLink]="['/home']">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <a class="nav-link"  style="color: aliceblue;">SLMBR Cab Services</a>
      </div>
     
      <div>
          <button type="button" class="btn btn-danger" style="width: 100px; height: 50px; margin-right: 10px;"  [routerLink]="['/login']">Log out</button>
        </div>
  </nav>
</div>
 
<section style="background-image: url('https://manojstoragracc.blob.core.windows.net/blob/backgroundimg.png');background-size: cover; height: 90.5vh;">
 
  <div class="container mt-0">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card" style="margin-top: 10px; margin-bottom: 10px;">
          <div class="card-header" style="background: linear-gradient(315deg, #B7781F, #FEFE07);font-size: x-large;font-weight: bold;">
           Confirm Booking
          </div>
          <div class="card-body" >
            <form #loginForm="ngForm" (ngSubmit)="book(loginForm.value)">
              <table>

                <th>
                <div class="form-group">
                <label for="source">Choose PickUp Location :</label>
                <select required class="form-control" id="source" [(ngModel)]="source" name="source">
                <option value="" disabled selected>Choose PickUp Location :</option>
                <option *ngFor="let roots of rootsarray" [ngValue]="roots.source">{{roots.source}}</option>
                </select>
                </div>
                </th>

                <th>
                  <div class="form-group">
                  <label for="destination" style="margin-left: 30px;">Choose Drop Location :</label>
                  <select required class="form-control" id="destination" [(ngModel)]="destination" name="destination"style="margin-left: 30px;">
                  <option value="" disabled selected >Choose Drop Location :</option>
                  <option *ngFor="let roots of rootsarray" [ngValue]="roots.destination">{{roots.destination}}</option>
                  </select>
                  </div>
                  </th>
            
              </table>
              <hr>
              <div class="form-group">
                <label for="email">Email :</label>
                <input type="text" class="form-control" id="email" [(ngModel)]="email" name="email" placeholder="Enter your Email" required>
                </div>
                 <br>
                  <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" placeholder="Enter your password" required>
                </div>
                
                <hr>
                 <label>Payment Method</label>
                <div>
                  <input type="radio" id="upiPayment" name="paymentMethod" value="upi" style="margin-top: 20px;" >
                <label for="upiPayment" >UPI Payment</label>
                
                <input type="radio" id="cashPayment" name="paymentMethod" value="cash" style="margin-left: 50px;">
                <label for="cashPayment">Cash Payment</label>
                </div>
                
                
                  <!-- Submit button -->
                <div class="pt-1 mb-4">
                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-dark btn-lg btn-block" style="margin-left: 50px;margin-top: 50px;">Book</button>
                <button type="submit"  class="btn btn-dark btn-lg btn-block" style="margin-left: 200px;margin-top: 50px;" (click)="Cancel()">Cancel</button>
                </div>
                
                
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>



