<!-- <p>ridepage works!</p>
<form #rideForm="ngForm" (ngSubmit)="ride(rideForm.value)" >

<label for="customerId">Enter User id</label>
<input type="text" id="customerId" [(ngModel)]="customerId" name="customerId" class="form-control"  required>

<label for="start">Choose starting Location:</label>
<select name="start" id="start" (ngModel)="start">
  <option >start</option>
  <option value="Hyderabad">Hyderabad</option>
  <option value="Mumbai">Mumbai</option>
  <option value="Chennai">Chennai</option>
  <option value="Bangalore">Bangalore</option>
</select>

<label for="dest">Choose Destination:</label>
<select name="dest" id="dest" (ngModel)="dest">
    <option >Destination</option>
    <option value="Hyderabad">Hyderabad</option>
    <option value="Mumbai">Mumbai</option>
    <option value="Chennai">Chennai</option>
    <option value="Bangalore">Bangalore</option>
</select>
<br>

<label for="vehicleId">Enter vehicleId:</label>
<button type="radio" id="vehicleId" [(ngModel)]="vehicleId" value=1 name="vehicleId"></button>
<button type="radio" id="vehicleId" [(ngModel)]="vehicleId" value=1 name="vehicleId"></button>
<button type="radio" id="vehicleId" [(ngModel)]="vehicleId" value=1 name="vehicleId"></button>
<button type="radio" id="vehicleId" [(ngModel)]="vehicleId" value=1 name="vehicleId"></button>
<button type="radio" id="vehicleId" [(ngModel)]="vehicleId" value=1 name="vehicleId"></button>


<button type="submit"  class="btn btn-primary">search</button>
<input type="text" id="username" [(ngModel)]="username" name="username" class="form-control"  required>
</form>
<div>
  <tr *ngFor="let cust of custarray"></tr>
  {{custarray.customerName}}
</div> -->


<!-- [
  {
    "vehicleId": 1,
    "vehicleName": "Swift",
    "vehicleType": "sz3",
    "capacity": "5",
    "farePerKm": 20,
    "availability": true
  },
  {
    "vehicleId": 2,
    "vehicleName": "XUV300",
    "vehicleType": "AC",
    "capacity": "5",
    "farePerKm": 25,
    "availability": true
  },
  {
    "vehicleId": 3,
    "vehicleName": "S-Cross",
    "vehicleType": "hatchback",
    "capacity": "5",
    "farePerKm": 60,
    "availability": true
  },
  {
    "vehicleId": 4,
    "vehicleName": "Wagner",
    "vehicleType": "hatchback",
    "capacity": "5",
    "farePerKm": 45,
    "availability": true
  }
] -->






















<!-- <label for="members">Number of seats</label>
<select name="members" id="members" (ngModel)="members" type="Number">
  <option >Persons</option>
  <option value=1>1</option>
  <option value=2>2</option>
  <option value=3>3</option>
  <option value=5>5</option>
  <option value=6>6</option>
  <option value=7>7</option>

</select> --> 
