
<!-- 
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let vehicles of vehiclesarray">
      <div class="card h-100">
      
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold;" >Name: {{ vehicles.vehicleName }}</h5>
          <p class="card-text"style="font-weight: bold;" >Type: {{ vehicles.vehicleType}}</p>
          <p class="card-text" style="font-weight: bold;" >capacity: {{vehicles.capacity}}</p>
          <p class="card-text"style="font-weight: bold;"  >Fare/Km: {{vehicles.farePerKm}}</p>

          <button type="button" class="btn btn-outline-danger" [routerLink]="['/final']" >Book this cab </button>
          
        </div>
      </div>
    </div>
  </div>
</div>
</body> -->
<!-- (click)="viewProductDetails(product)" -->