<p>warncustlogin works!</p>
<p>data works!</p>
<h2 style="color: red;">Please provide valid user name and password</h2>
   <!-- ----------------------------------------------------------------------------------------------- -->

   <!-- <h1>Login</h1>
<hr>
<div class="col-md-4">
 <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off" novalidate>
   
   <div class="form-group" >
     <label for="userName">User Name:</label>
     
     <em *ngIf="username?.invalid && (username?.touched || mouseoverLogin)">Required</em>

     <input (ngModel)="username" name="userName" required id="userName" type="text" class="form-control" placeholder="User Name..." />
   </div>
   <div class="form-group" >
     <label for="password">Password:</label>
     <em *ngIf="password?.invalid  && (password?.touched || mouseoverLogin)">Required</em>
     <input (ngModel)="password" name="password" required id="password" type="password" class="form-control"placeholder="Password..." />
   </div>
   <div class="form-group">
    <label for="gender">Gender:</label>
    <input type="text" name="gender" (ngModel)="gender" placeholder="Gender.." required="required" title="enter user gender " required id="gender">
   </div>
   
   <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
     <button type="submit"  class="btn btn-primary">Login</button>
   </span> -->
   <!-- <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button> -->
 <!-- </form>
</div>
<p style="color:red">Incorrect Username or password </p> -->
<!-- <head>
  <h1>{{arr.id}}</h1>
  <h1>{{arr.name}}</h1>
  <h1>{{arr.id}}</h1>
  <h1>{{arr.id}}</h1>
</head> -->
<!-- <h2>{{arr.id}}</h2> -->