<div class="home--container">
  <header class="mb-4 fixed-top">
    <!-- Jumbotron -->
  
    <!-- Jumbotron -->
  
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark d-none d-lg-block">
      <!-- Container wrapper -->
     
      <div class="container-fluid justify-content-center justify-content-md-between">
        <!-- Left elements -->
        <div class="d-flex align-items-center">
          <div  data-mdb-ripple-color="white">
            <a class="navbar-brand nav--item" href="#" style="color: aliceblue;">SLMBR Cab Services</a>
          </div>
  
        </div>
        <!-- Left elements -->
  
        <!-- Right elements -->
        <div class="d-flex align-items-center">
          <button type="button" class="btn btn-Light me-1" [routerLink]="['/cust']" class="text-Black"><img
              src="assets/profile.png" alt="Trulli" width="30" height="30">UserLogin</button>
          <button type="button" class="btn btn-Light me-1" [routerLink]="['/login']" class="text-Black"><img
              src="assets/profile.png" alt="Trulli" width="30" height="30">AdminLogin</button>
          <a class="nav-item nav-link" href="#"></a>
        </div>
        <!-- Right elements -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>

  <main>
    <div class="text--container">
      <div class="home--desc--1" style="color: rgb(85, 72, 72);font-weight: bold; font-size: 80px;">SLMBR</div>
      <div class="home--desc--2">Online Cab Services</div>
    </div>
  </main>
</div>
