<section class="vh-100" style="background-color: rgb(245, 246, 244);">

  <style>
    .required::after {
        content: " *";
        color: red;
    }
  </style>
  <div 
  class="bg-image"
  style="
    background-image: url('assets/bg2.jpg');
    height: 750px ;
    width: 1550px;
  ">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="assets/login1.jpg"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
               
<h1>Login</h1>
<hr>
<div class="col-md-4">
 <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off" novalidate>
   
   <div class="form-group" >
     <label for="userName">User Name<span class="required"></span>:</label>
      <!-- <em *ngIf="username?.invalid && (username?.touched || mouseoverLogin)">Required</em>  -->
      <input (ngModel)="userName" name="userName" required id="userName" type="text" size="50" placeholder="User Name..." title="enter user name " required />
   </div>
   <div class="form-group" >
     <label for="password">Password<span class="required"></span>:</label>
     <!-- <em *ngIf="password?.invalid  && (password?.touched || mouseoverLogin)">Required</em> -->
     <input (ngModel)="password" name="password" required id="password" type="password" size="50" placeholder ="Password..." title="enter password" required />
   </div>
   
   <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
     <button type="submit"  class="btn btn-primary">Login</button>
   </span>
   
   <!-- <a class="small text-muted" href="#!">Forgot password?</a> -->
 </form>
 <br>
 <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>

</div>
</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>